<!doctype html>
<html lang="de-de">
<head>
    {% include 'head.twig' %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body class="editor">
{% include 'loginout.twig' %}
<form method="POST" action="">
    <fieldset>
        <legend>{{ file.file }}</legend>
        <p>
            <textarea name="content" id="editor">{{ contents }}</textarea>
        </p>

        <div class="buttons">
            <a href="/file/{{ file.file }}" class="button">zurück</a>
            <button type="submit">speichern</button>
            <input type="hidden" name="file" value="{{ file.file }}">
        </div>
    </fieldset>
</form>
<article class="document preview" id="preview">
    {{ markdown|raw }}
</article>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/editor.js"></script>
</body>
</html>
