{% extends "base.twig" %}
{% block body %}
<article class="document">
    <nav class="article">
        <a href="/editor?file={{ file.file }}" class="button">bearbeiten</a>
        <h2>{{ file.label }}</h2>
        <p>Zuletzt
            geändert: {% if file.modified == 0 %}Heute{% elseif file.modified == 1 %}Gestern{% else %}vor {{ file.modified }}
            Tagen{% endif %}</p>
        {% if admin %}
        {% endif %}
        {% for entry in structure %}
        {% if loop.first %}
        <h3>Inhalt</h3>
        <ul>
            {% endif %}
            <li><a href="#{{ entry.id }}">{{ entry.label }}</a></li>
            {% if loop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </nav>
    {{ content|raw }}
</article>
{% for file in files %}
{% if loop.first %}
<nav class="files">
    <h2>Dokumente</h2>
    <ul>
        {% endif %}
        <li>
            <a href="/file/{{ file.file }}" class="{{ file.type }}">{{ file.label }}</a>
        </li>
        {% if loop.last %}
    </ul>
</nav>
{% endif %}
{% endfor %}

        {% endblock %}