{% extends "base.twig" %}
{% block body %}
<nav class="article">
    {% for file in files %}
    {% if loop.first %}
    <p>Eingeloggt als @{{ username }}.<br/><a href="/logout">Abmelden.</a></p>
    <ul>
        {% endif %}
        <li>
            <a href="/file/{{ file.file }}" class="{{ file.type }}">{{ file.label }}</a>
        </li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
    <h2>{{ file.label }}</h2>

    <p>Zuletzt
        geändert: {% if file.modified == 0 %}Heute{% elseif file.modified == 1 %}Gestern{% else %}vor {{ file.modified }}
        Tagen{% endif %}</p>
    {% for entry in structure %}
    {% if loop.first %}
    <h3>Inhalt</h3>
    <ul>
        {% endif %}
        <li><a href="#{{ entry.id }}">{{ entry.label }}</a></li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</nav>
<article>
    {{ content|raw }}
</article>
{% endblock %}